@charset "UTF-8";

body {
	background-color: #ff5;
}

#wrap {
	width: 70%;
	margin: 0 auto;
	background-color: #f99;
	padding: 50px;
	border-radius: 10px;
}

#contents {
	display: flex;
	justify-content: space-between;
}
