@charset "UTF-8";
/**********************
	各ページ共通設定
**********************/
body, h1, h2, h3, p, ul {
	margin: 0;
}
body {
	margin: 0;
}
ul {
	padding: 0;
	list-style-type: none;
}
button {
	cursor: pointer;
}
.no-btn {
	border: none;
	background: transparent;
}
table {
	border-collapse: collapse;
	margin-bottom: 20px;
}
th, td {
	border: solid 1px #aaa;
	padding-left: 5px;
	padding-right: 5px;
}
.no-border {
	border: none;
}
header, footer {
	background-color: red;
    padding: 16px 8px 8px;
    text-align: center;
}
footer {
	color: #fff;
}
header {
	padding: 10px 0;
	border-bottom: solid 1px #ddd;
	box-shadow: 0 1px 3px #ddd;
}
header h1 {
	width: 80%;
	margin: 0 auto;
}
header h1 a {
	text-decoration: none;
	color: #fff;
	letter-spacing: 0.1em;
}
footer {
	position: fixed;
	bottom: 0;
	padding: 10px 0;
	text-align: center;
	width: 100%;
	border-top: solid 1px #ddd;
	letter-spacing: 0.05em;
}
#main {
	padding: 10px;
	margin-bottom: 45px;
}
#menu-btn {
	cursor: pointer;
	display: inline-block;
}
#menu-area {
	display: none;
}
.img-btn {
	border: none;
	background: transparent;
	cursor: pointer;
	width:45px;
	height: 45px;
	padding-left: 0;
	padding-right: 0;
}
/**********************
	aside
**********************/
#sub-content h2 {
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 4%;
    letter-spacing: 0.2em;
}
#sub-content li {
	margin: 10px 0;
}
.newEmp {
	font-size: 1.5em;
	color: #444;
}
.search-form {
	border: solid 1px #ddd;
}
.search-box {
	width: calc(100% - 55px);
	line-height: 45px;
	font-size: 1.2em;
	border: none;
}
.search-box:focus {
	outline: none;
}
.search-img {
	vertical-align: middle;
}

/**********************
	入力画面
**********************/
.indata {
	line-height: 45px;
	font-size: 1.5em;
	width: 10em;
	border: none;
}
.submit-btn,
.cancel-btn {
	height: 45px;
	width: 100px;
	font-size: 1.2em;
	cursor: pointer;
}
.submit-btn {
	margin-right: 16px;
}
.error {
	color: red;
}

/**********************
	768px以上
**********************/
@media screen and (min-width: 768px) {
	#main {
		display: flex;
		flex-direction: row-reverse;
		width: 80%;
		margin: 50px auto;
	}
	#main-content {
		flex-basis: 70%;
	}
	#sub-content {
		flex-basis: 30%;
	}
	#menu-area {
		display: block;
	}
}